@tailwind base;
@tailwind components;

@layer base {
	@font-face {
		font-family: 'Basdela';
		src: url(/fonts/basdela/Basdela.ttf);
	}
	:root,
	.light {
		--text: #010618;
		--background: #e7ebfe;
		--primary: #f81644;
		--secondary: #d7dffe;
		--accent: #40f812;
		color-scheme: light;
	}
	.dark {
		--text: #e7ecfe;
		--background: #010518;
		--primary: #e90734;
		--secondary: #010928;
		--accent: #35ed07;
		color-scheme: dark;
	}
}

@tailwind utilities;
